
@{
    ViewBag.Title = "Maintain";
}
<script>
    var oTable;
    //初始設定
    $(function () {
        //初始化
        $.ajax({
            type: 'POST',
            data: { "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
            //async: false, //啟用同步請求
            url: '@Url.Action("searchInit", "ProjectControll")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }
                //科室下拉選單
                var ddlOrganizer = "<option value=''>全部</option>";
                $.each(result.ddlOrganizer.DropDownListLT, function (i, ddl) {
                    //判斷資料維護者或使用者就只能有自己科室
                    if ('@(Session["roleName"] as string)' == 'maintain' || '@(Session["roleName"] as string)' == 'user') {
                        if (ddl.Values == '@(Session["Organizer"] as String)')
                        ddlOrganizer = '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                    }
                    else
                    {
                        ddlOrganizer += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                    }
                });
                $('#ddlOrganizer').html(ddlOrganizer);
                $('#hidIsEdit').val('@(Request.QueryString["IsEdit"] as String)');
                if ($('#hidIsEdit').val() == "1") {

                    @{
                        WaterCaseTracking.Models.ViewModels.ProjectControll.SearchInfoViewModel searchInfoViewModel = (WaterCaseTracking.Models.ViewModels.ProjectControll.SearchInfoViewModel)Session["ProjectControllQueryParam"] == null ? new WaterCaseTracking.Models.ViewModels.ProjectControll.SearchInfoViewModel(): (WaterCaseTracking.Models.ViewModels.ProjectControll.SearchInfoViewModel)Session["ProjectControllQueryParam"];
                    }
                    $('#txtProjectName').val('@searchInfoViewModel.txtProjectName');
                    $('#ddlOrganizer').val('@searchInfoViewModel.ddlOrganizer');

                }
                QueryTable();

            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
        //載入Table
        //oTableSetting();
    });
    //全選
    function CheckAll() {
        $('input[name=otCB]').attr('checked', $('#cbCheckAll').prop('checked'));
    }
    //查詢
    function QueryTable() {
        //判斷有無設定過
        if (oTable)
        { oTable.destroy(); }
        $('#tbResult').empty();
        oTableSetting();
        //重新查詢
        oTable.ajax.reload(null, false);
        //判斷是否可以新增跟修改跟刪除
        if ('@(Session["roleName"] as string)' == 'supervisor') {
            oTable.columns([0,3,4,6,7,8,9,13,14,15,16,17,18,19,22,23,24,25,26,27,29,30,31,32,33,34,35,36]).visible(false);
        }
        if ('@(Session["roleName"] as string)' == 'user') {
            oTable.columns([0]).visible(false);
        }
    }

    //重置查詢條件
    function Reset() {
        $('#txtProjectName').val('');
        $('#ddlOrganizer').val('');
        $('#files').val('');
    }

    //匯出範例檔
    //匯出
    function Export() {
        //判斷是否有查詢
        //if (!oTable || oTable.data().count() == 0) {
        //    alert('匯出前請先查出資料');
        //    return;
        //}

        var ExportViewModel = {
            txtInquiry: $('#txtInquiry').val(),
            txtHandlingSituation: $('#txtHandlingSituation').val(),
            txtMemberName: $('#txtMemberName').val(),
            ddlArea: $('#ddlArea').val(),
            ddlOrganizer: $('#ddlOrganizer').val(),
            Types: '0',
            fileExtension: $('#ddlFileExtension').val()
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("Export", "ProjectControll")',
            data: ExportViewModel,
            contenType: "application/json; charset=utf-8",
        })
    .done(function (result) {
        var a = document.createElement('a');
        a.setAttribute('href', result);
        a.setAttribute('target', '_self');
        a.setAttribute('download', result);
        a.style.display = 'none';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);

        //window.open(result, null);
    })
    .fail(function () {
        alert("匯入失敗");
    })
    }

    //新增或修改
    function DoAction(ActionName, IDX) {
        if (ActionName == 'Modify')
            document.location.replace('@Url.Action("Edit0", "ProjectControll")' + '?ID=' + IDX);
        if (ActionName == 'Create')
            document.location.replace('@Url.Action("Create0", "ProjectControll")');
        if (ActionName == 'Delete'){
            if (confirm('確認刪除')) {
                var list = [];
                $('input[name=otCB]:checked').each(function (index, value) {
                    //var detail = { idx: value.value };
                    list.push(value.value);
                });
                if (list.length == 0)
                {
                    alert("請勾選要刪除項目");
                    return;
                }
                var data = { ID: list };
                //console.log(list);
                //document.location.replace('@Url.Action("Delete0", "ProjectControll")' + '?ID=' + IDX);
                $.ajax({
                    type: 'POST',
                    data: data,
                    async: false, //啟用同步請求
                    url: '@Url.Action("Delete0", "ProjectControll")',
                    contenType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        alert(result);
                        if (result == "刪除成功") {
                            QueryTable();
                        }
                    }, fail: function () {
                        alert('系統錯誤!!');
                    }
                })
            }
        }
    }

    //上傳檔案
    function UpLoad() {
        //## 宣告一個FormData
        var data = new FormData();
        //## 將檔案append FormData
        var files = $("#files").get(0).files;
        if (files.length > 0) {
            data.append("UploadedFile", files[0]);
        }
        else {
            alert('請選擇匯入檔案');
            return;
        }

        //## 透過ajax方式Post 至Action
        var ajaxRequest = $.ajax({
            type: "POST",
            url: "@Url.Action("Upload0", "ProjectControll")",
            contentType: false,         // 告诉jQuery不要去這置Content-Type
            processData: false,         // 告诉jQuery不要去處理發送的數據
            dataType: "json",
            data: data
        })
    .done(function (result) {
        alert(result);
        //document.location.replace('@Url.Action("Maintain0", "ProjectControll")');
    })
    .fail(function () {
        alert("匯入失敗");
    });
    }



    //查詢Table設定
    function oTableSetting() {


        $('#Maintain').addClass('active');
        $('#Maintain').closest('ul').closest('li').addClass('active');


        var TableOptions = {
            "destroy": true,
            "oLanguage": {
                "sUrl": "../Content/datatables.net/tw.txt"
            },
            "bLengthChange": false,
            "ordering": false,
            "order": [1, 'asc'],
            "async": true,
            "searching": false,
            "iDisplayLength": 10,
            "bStateSave": false,
            "bPaginate": true,
            "scrollY": 600,//($(window).height() - 290),
            "scrollX": true,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("GetoTable", "ProjectControll")",
            "deferLoading": 0,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "__RequestVerificationToken", "value": $('input[name=__RequestVerificationToken]').val() });
                aoData.push({ "name": "txtProjectName", "value": $('#txtProjectName').val() });
                aoData.push({ "name": "ddlOrganizer", "value": $('#ddlOrganizer').val() });
                aoData.push({ "name": "hidIsEdit", "value": $('#hidIsEdit').val() });
            },
            "columns": [
                {
                    "title": "<input id='cbCheckAll' type='checkbox' onclick='CheckAll();' ></input>", "orderable": false, render: function (data, type, row) {
                        return "<input type='checkbox' value='" + row.HID + "' name='otCB' ></input>";
                    }
                },
                { "title": "項次", "data": "ID" },
                { "title": "工程名稱", "data": "ProjectName" },
                { "title": "決標日", "data": "AwardDate" },
                { "title": "訂約日", "data": "ContractDate" },
                { "title": "開工日期", "data": "BeginDate" },
                { "title": "進場施工時間", "data": "ConstructionDate" },
                { "title": "原工期", "data": "Duration" },
                { "title": "承商 ", "data": "Company" },
                { "title": "原預訂完工日期", "data": "PlanFinishDate" },
                { "title": "契約金額（千元）", "data": "ContractAmount" },
                { "title": "預定進度％", "data": "PlanScheduleExpDate" },
                { "title": "實際進度％", "data": "PlanScheduleReaDate" },
                { "title": "施工落差％", "data": "ConstructionGap" },
                { "title": "施工落後原因", "data": "BehindReason" },
                { "title": "因應對策及預訂期程", "data": "Countermeasures" },
                { "title": "展期工期次數(累計)", "data": "ExtensionTimes" },
                { "title": "展期工期天數(累計)", "data": "ExtensionDays" },
                { "title": "變更設計", "data": "Changes" },
                { "title": "變更設計變更增減金額(千元）", "data": "ChangeAmount" },
                { "title": "完工預定日期", "data": "CompletedExpDate" },
                { "title": "完工實際日期", "data": "CompletedRelDate" },
                { "title": "修正契約總價(千元)", "data": "CorrectionAmount" },
                { "title": "累計估驗計價(千元)", "data": "CumulativeValuation" },
                { "title": "估驗款執行率", "data": "EstimateRate" },
                { "title": "估驗款落後%", "data": "EstimateBehind" },
                { "title": "估驗款進度延遲因素分析 ", "data": "EstimateBehindReason" },
                { "title": "估驗提報日期", "data": "EstimateDate" },
                { "title": "目前辦理情形", "data": "HandlingSituation" },
                { "title": "備註", "data": "Remark" },
                { "title": "科室", "data": "Organizer" },
                { "title": "承辦人", "data": "OrganizerMan" },
                { "title": "新增人員", "data": "CreateUserName" },
                { "title": "新增時間", "data": "CreateDate" },
                { "title": "修改人員", "data": "UpdateUserName" },
                { "title": "修改時間", "data": "UpdateDate" },

                {
                    "title": "操作", "orderable": false, render: function (data, type, row) {
                        var button = '<button type="button" class="btn btn-primary btn-space" onclick="DoAction(\'Modify\',\'' + row.HID + '\')">修改</button>';
                        return button;
                    }
                }
            ],
            "columnDefs": [
               {
                   "targets": "_all", //针对所有列
                   "render": $.fn.dataTable.render.text(), //都使用render函数编码
               }
            ],
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success":
                        function (msg) {
                            fnCallback(msg);
                            if(@(Convert.ToInt32(searchInfoViewModel.iDisplayStart)/10) != oTable.page() && $('#hidIsEdit').val() == "1")
                            {
                                console.log(@(Convert.ToInt32(searchInfoViewModel.iDisplayStart)/10));
                                oTable.page(@(Convert.ToInt32(searchInfoViewModel.iDisplayStart)/10)).draw('page');
                            }
                            $('#hidIsEdit').val('');

                        }
                });
            }
        }
        oTable = $('#tbResult').DataTable(TableOptions);
    }
</script>
<section class="content-header">
    <h1>
        工程列管
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @if ((Session["roleName"] as string) != "supervisor")
                    {
                        <div class="row vertical-align">
                            <label id="lblUploadNewFile" for="file">檔案路徑:</label>
                            <input type="file" name="files" id="files" style="display:inline;width:60%;" multiple />
                            <div class="col-xs-auto"><button type="button" class="btn btn-warning" onclick="UpLoad();">匯入資料</button></div>
                            <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="Export();">匯出範本</button></div>
                            <div class="col-xs-auto">檔案類型:</div>
                            <div class="col-xs-auto">
                                <select name="ddlFileExtension" id="ddlFileExtension" class="form-control">
                                    <option value="xlsx">xlsx</option>
                                    <option value="ODF">ODF</option>
                                </select>
                            </div>
                        </div>
                    }
                    <div class="row vertical-align">
                        <div class="col-xs-auto">工程名稱:</div>
                        <div class="col-xs-3">
                            <input type="text" id="txtProjectName" />
                        </div>
                        <div class="col-xs-auto">承辦單位:</div>
                        <div class="col-xs-3">
                            <select name="ddlOrganizer" id="ddlOrganizer" class="form-control"></select>
                        </div>
                    </div>
                    <div class="row vertical-align">
                        <div class="col-xs-auto "><button type="button" class="btn btn-primary btn-space" onclick="QueryTable();">查 詢</button></div>
                        <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="Reset();">重置</button></div>
                        @if ((Session["roleName"] as string) != "supervisor" && (Session["roleName"] as string) != "user")
                        {
                            <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="DoAction('Create', null);">新增</button></div>
                            <div class="col-xs-auto"><button name="btnDtl" type="button" class="btn btn-primary btn-space btnDtl" onclick="DoAction('Delete',null)">刪除</button></div>
                        }

                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tbResult" class="table table-bordered table-hover">
                        <thead>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <input type="hidden" id="hidIsEdit" value="" />

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
