@{
    var acService = new WaterCaseTracking.Service.AccountService();
    //var sUser = acService.GetValue("Account");
    //var sUserModel = acService.GetValue("UserName");
    var sUnit = Session["Unit"];
    var sUnitName = Session["UnitName"];
    var sUser = Session["UserID"];
    var sUserModel = Session["UserName"];
    var Groups = Session["Groups"];
    var Menu = Session["Menu"];
    var sRoleName = Session["roleName"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @{
        //Session是否消失
        if (string.IsNullOrEmpty(Session["UserID"] as String))
        {
            <script type="text/javascript">
                alert("登入逾時，請重新登入");
                document.location.replace('@Url.Action("login", "Home")');
            </script>
        }
    }

    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["message"]));
            alert(message);
        </script>
    }
    else if (TempData["errprMessage"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["errprMessage"]));
            alert(message);
        </script>
    }

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新北市水利局 - 案件追蹤管理系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/jqueryui")
    <link rel="stylesheet" href="~/Content/dist/default/style.min.css" />
    <script type="text/javascript" language="javascript">
        ////預防掃描出的中風險:Client Cross Frame Scripting Attack
        if (top != self) { top.location = encodeURI(self.location); }

    </script>
    <script type="text/javascript">
        //(function (factory) {
        //    if (typeof define === "function" && define.amd) {

        //        // AMD. Register as an anonymous module.
        //        define(["../widgets/datepicker"], factory);
        //    } else {

        //        // Browser globals
        //        factory(jQuery.datepicker);
        //    }

        //}(function (datepicker) {
        //    var old_generateMonthYearHeader = $.datepicker._generateMonthYearHeader;
        //    var old_get = $.datepicker._get;
        //    var old_CloseFn = $.datepicker._updateDatepicker;
        //    $.extend($.datepicker, {
        //        _generateMonthYearHeader: function (inst, drawMonth, drawYear, minDate, maxDate, secondary, monthNames, monthNamesShort) {
        //            var htmlYearMonth = old_generateMonthYearHeader.apply(this, [inst, drawMonth, drawYear, minDate, maxDate, secondary, monthNames, monthNamesShort]);
        //            if ($(htmlYearMonth).find(".ui-datepicker-year").length > 0) {
        //                htmlYearMonth = $(htmlYearMonth).find(".ui-datepicker-year").find("option").each(function (i, e) {
        //                    if (Number(e.value) - 1911 > 0) $(e).text("民國" + (Number(e.innerText) - 1911) + "年");
        //                }).end().end().get(0).outerHTML;
        //            }
        //            return htmlYearMonth;
        //        },
        //        _get: function (a, b) {
        //            a.selectedYear = a.selectedYear - 1911 < 0 ? a.selectedYear + 1911 : a.selectedYear;
        //            a.drawYear = a.drawYear - 1911 < 0 ? a.drawYear + 1911 : a.drawYear;
        //            a.curreatYear = a.curreatYear - 1911 < 0 ? a.curreatYear + 1911 : a.curreatYear;
        //            return old_get.apply(this, [a, b]);
        //        },
        //        _updateDatepicker: function (inst) {
        //            old_CloseFn.call(this, inst);
        //            $(this).datepicker("widget").find(".ui-datepicker-buttonpane").children(":last")
        //                   .click(function (e) {
        //                       inst.input.val("");
        //                   });
        //        },
        //        _setDateDatepicker: function (a, b) {
        //            if (a = this._getInst(a)) { this._setDate(a, b); this._updateDatepicker(a); this._updateAlternate(a) }
        //        },
        //        _widgetDatepicker: function () {
        //            return this.dpDiv
        //        }

        //    });

        //    datepicker.regional["zh-TW"] = {
        //        closeText: "關閉",
        //        prevText: "<上個月",
        //        nextText: "下個月>",
        //        currentText: "今天",
        //        monthNames: ["一月", "二月", "三月", "四月", "五月", "六月",
        //        "七月", "八月", "九月", "十月", "十一月", "十二月"],
        //        monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月",
        //        "七月", "八月", "九月", "十月", "十一月", "十二月"],
        //        dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
        //        dayNamesShort: ["週日", "週一", "週二", "週三", "週四", "週五", "週六"],
        //        dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
        //        weekHeader: "週",
        //        dateFormat: "yymmdd",
        //        firstDay: 1,
        //        isRTL: false,
        //        changeYear: true,
        //        changeMonth: true,
        //        showMonthAfterYear: true,
        //        onSelect: function (dateText, inst) {
        //            var dateFormate = inst.settings.dateFormat == null ? "yymmdd" : inst.settings.dateFormat; //取出格式文字
        //            var reM = /m+/g;
        //            var reD = /d+/g;
        //            var objDate = {
        //                y: inst.selectedYear - 1911 < 0 ? inst.selectedYear : padLeft((inst.selectedYear - 1911).toString(),3,"0"),
        //                m: padLeft(String(inst.selectedMonth + 1),2,"0"),
        //                d: padLeft(String(inst.selectedDay),2,"0")
        //            };
        //            $.each(objDate, function (k, v) {
        //                var re = new RegExp(k + "+");
        //                dateFormate = dateFormate.replace(re, v);
        //            });
        //            inst.input.val(dateFormate);
        //        }
        //    };
        //    datepicker.setDefaults(datepicker.regional["zh-TW"]);

        //    return datepicker.regional["zh-TW"];

        //}));

        //function padLeft(str, length, sign) {
        //    if (str.length >= length) return str;
        //    else return padLeft(sign + str, length, sign);
        //}
        $(document).ready(function () {
            $(".datepicker").datepicker({
                //yearRange: "-100:+0",
                dateFormat: "yy/mm/dd"
            });
            yearPadZero: false
            //MenuOperating();
            SetMenu('@Session["Menu"]');
            @*手機模式不擋Menu*@

            //排除中風險
            if($_SERVER['REMOTE_ADDR'] !== $_SESSION['LAST_REMOTE_ADDR'] || $_SERVER['HTTP_USER_AGENT'] !== $_SESSION['LAST_USER_AGENT']) {
                session_destroy();
            }
            session_regenerate_id();
            $_SESSION['LAST_REMOTE_ADDR'] = $_SERVER['REMOTE_ADDR'];
            $_SESSION['LAST_USER_AGENT'] = $_SERVER['HTTP_USER_AGENT'];
            if (strpos($_SERVER['HTTP_REFERER'], 'http://vulnerable/') !== 0) {
                session_destroy(); // destroy all data in session
            }
            session_regenerate_id();
        });
        //排除中風險
        if($_SERVER['REMOTE_ADDR'] !== $_SESSION['LAST_REMOTE_ADDR'] || $_SERVER['HTTP_USER_AGENT'] !== $_SESSION['LAST_USER_AGENT']) {
            session_destroy();
        }
        session_regenerate_id();
        $_SESSION['LAST_REMOTE_ADDR'] = $_SERVER['REMOTE_ADDR'];
        $_SESSION['LAST_USER_AGENT'] = $_SERVER['HTTP_USER_AGENT'];
        if (strpos($_SERVER['HTTP_REFERER'], 'http://vulnerable/') !== 0) {
            session_destroy(); // destroy all data in session
        }
        session_regenerate_id();
        //function MenuOperating() {
        //    for (var i = 65; i < 90; i++) {
        //        var id = String.fromCharCode(i);
        //        $('#' + id).hide();
        //        for (var j = 0; j < 10; j++) {
        //            $('#' + id + "0" + j).hide();
        //        }
        //    }
        //}

        function SetMenu(StrMenu) {
            var menu = StrMenu.split(',');
            console.log(StrMenu);

            $(menu).each(function (index) {
                $('#' + menu[index]).show();
            });
        }

    </script>
    <style>
        .vertical-align {
            display: flex;
            align-items: center;
            margin-left: 10px;
        }

        .btn-space {
            margin-right: 5px;
        }

        .box {
            margin-bottom: 0px !important;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Content("~/MCAsk/Maintain0")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b></b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>新北市政府水利局案件追蹤管理系統</b></span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu" style="margin-right: 20px;">
                    <div>
                        <ul class="nav navbar-nav">
                            <li>
                                <a><i class="fa fa-address-card-o"></i> 登入角色: @sRoleName</a>
                            </li>
                            <li>
                                <a><i class="fa fa-address-book-o"></i> 登入人員: @sUserModel (@sUser)</a>
                            </li>
                            <li>
                                <a id="modifyPW" href="#"><i class="fa fa-gears"></i> 修改密碼</a>
                            </li>
                            
                            <li>
                                <a id="exit" href="#"><i class="fa fa-gears"></i> 登出帳號</a>
                            </li>
                            @*<li style="position: absolute; color: blue; bottom: 0; right: 0;font-weight: bold;margin-right: 20px;">
                                    登入人員: @sUnitName (@sUnit)/@sUserModel (@sUser)
                                </li>
                                <li style="position: absolute; color: #800000;bottom: 0;right: 272px;font-weight: bold;margin-right: 20px;">
                                    今日日期: @DateTime.Now.ToString("yyyy/MM/dd")
                                </li>*@
                        </ul>
                    </div>
                    @*<div style="position: absolute; color: blue; bottom: 0; right: 0;font-weight: bold;">登入人員: @sUnitName (@sUnit)/@sUserModel (@sUser)</div>*@
                    @*<div style="position: absolute; color: #800000;bottom: 0;right: 272px;font-weight: bold;">今日日期: @DateTime.Now.ToString("yyyy/MM/dd")</div>*@
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar Menu -->
                <ul id="TreeViewMenuList" class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                        <a id="A" href="#" style="display:none">
                            @*<a href="#">*@
                            <i class="fa fa-television"></i><span>案件追蹤管理系統功能</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="A01" style="display:none"><a href="@Url.Content("~/MCAsk/Maintain0")"><i class="fa fa-caret-right"></i>市政總質詢事項</a></li>
                            <li id="A02" style="display:none"><a href="@Url.Content("~/MCAsk/Maintain1")"><i class="fa fa-caret-right"></i>議會案件</a></li>
                            <li id="A03" style="display:none"><a href="@Url.Content("~/ExpectedProject/Maintain0")"><i class="fa fa-caret-right"></i>預計發包案件</a></li>
                            <li id="A04" style="display:none"><a href="@Url.Content("~/ProjectControll/Maintain0")"><i class="fa fa-caret-right"></i>工程列管</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a id="G" href="#" style="display:none">
                            @*<a href="#">*@
                            <i class="fa fa-edit"></i><span>系統管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="G01" style="display:none"><a href="@Url.Content("~/Accounts/Maintain")"><i class="fa fa-caret-right"></i>帳號管理</a></li>
                            <li id="G02" style="display:none"><a href="@Url.Content("~/SystemPermission/SystemPermission")"><i class="fa fa-caret-right"></i>角色權限管理</a></li>
                            <li id="G03" style="display:none"><a href="@Url.Content("~/MinuteLog/Maintain")"><i class="fa fa-caret-right"></i>操作紀錄查詢</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content container-fluid">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>

    </div>


</body>

</html>
<script>
    $('#exit').on('click', function () {
        if (confirm("您正在離開營業單位營運資訊管理系統。\n按下確定後登出。")) {
            document.location.replace('@Url.Action("login", "Home")');
        }
    });
    $('#modifyPW').on('click', function () {
            document.location.replace('@Url.Action("ChangePW", "Home")');
    });
</script>