@{
    var acService = new WaterCaseTracking.Service.AccountService();
    //var sUser = acService.GetValue("Account");
    //var sUserModel = acService.GetValue("UserName");
    var sUnit = Session["Unit"];
    var sUnitName = Session["UnitName"];
    var sUser = Session["UserID"];
    var sUserModel = Session["UserName"];
    var Groups = Session["Groups"];
    var Menu = Session["Menu"];
    var sRoleName = Session["roleName"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @*@{
            //Session是否消失
            if (string.IsNullOrEmpty(Session["UserID"] as String))
            {
                <script type="text/javascript">
                    alert("登入逾時，請重新登入");
                    document.location.replace('@Url.Action("login", "Home")');
                </script>
            }
        }*@

    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["message"]));
            alert(message);
        </script>
    }
    else if (TempData["errprMessage"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["errprMessage"]));
            alert(message);
        </script>
    }

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新北市水利局 - 案件追蹤管理系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/jqueryui")
    <link rel="stylesheet" href="~/Content/dist/default/style.min.css" />
    <script type="text/javascript" language="javascript">
        ////預防掃描出的中風險:Client Cross Frame Scripting Attack
        if (top != self) { top.location = encodeURI(self.location); }

    </script>
    <script type="text/javascript">
        $(window).resize(function () {
            $('.main-sidebar').css('padding-top', $('.navbar-static-top').height() +45);
        });

        $(document).ready(function () {
            checkLoginInfo();
            $('.main-sidebar').css('padding-top', $('.navbar-static-top').height() +45);
            $(".datepicker").datepicker({
                //yearRange: "-100:+0",
                dateFormat: "yy/mm/dd"
            });
            yearPadZero: false
            //MenuOperating();
            SetMenu('@Session["Menu"]');

        }); 
        //檢查登入資訊
        function checkLoginInfo(){
            $.ajax({
                type: 'POST',
                data: { __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val() },
                async: false,
                url: '@Url.Action("checkLoginInfo", "Common")',
                contenType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if(result =="登入逾時")
                    {
                        alert("登入逾時，請重新登入");
                        document.location.replace('@Url.Action("login", "Home")');
                        return;
                    }
                }
            })
        }


        function SetMenu(StrMenu) {
            var menu = StrMenu.split(',');
            console.log(StrMenu);

            $(menu).each(function (index) {
                $('#' + menu[index]).show();
            });
        }

    </script>
    <style>
        .vertical-align {
            display: flex;
            align-items: center;
            margin-left: 10px;
        }

        .btn-space {
            margin-right: 5px;
        }

        .box {
            margin-bottom: 0px !important;
        }

        .ui-dialog {
            position: fixed;
            z-index: 1000000;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Content("~/MCAsk/Maintain0")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b></b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>新北市政府水利局案件追蹤管理系統</b></span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu" style="margin-right: 20px;">
                    <div>
                        <ul class="nav navbar-nav">
                            <li>
                                <a><i class="fa fa-address-card-o"></i> 登入角色: @sRoleName</a>
                            </li>
                            <li>
                                <a><i class="fa fa-address-book-o"></i> 登入人員: @sUserModel (@sUser)</a>
                            </li>
                            <li>
                                <a id="modifyPW" href="#"><i class="fa fa-gears"></i> 修改密碼</a>
                            </li>

                            <li>
                                <a id="exit" href="#"><i class="fa fa-gears"></i> 登出帳號</a>
                            </li>
                            @*<li style="position: absolute; color: blue; bottom: 0; right: 0;font-weight: bold;margin-right: 20px;">
                                    登入人員: @sUnitName (@sUnit)/@sUserModel (@sUser)
                                </li>
                                <li style="position: absolute; color: #800000;bottom: 0;right: 272px;font-weight: bold;margin-right: 20px;">
                                    今日日期: @DateTime.Now.ToString("yyyy/MM/dd")
                                </li>*@
                        </ul>
                    </div>
                    @*<div style="position: absolute; color: blue; bottom: 0; right: 0;font-weight: bold;">登入人員: @sUnitName (@sUnit)/@sUserModel (@sUser)</div>*@
                    @*<div style="position: absolute; color: #800000;bottom: 0;right: 272px;font-weight: bold;">今日日期: @DateTime.Now.ToString("yyyy/MM/dd")</div>*@
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar Menu -->
                <ul id="TreeViewMenuList" style="" class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                        <a id="A" href="#" style="display:none">
                            @*<a href="#">*@
                            <i class="fa fa-television"></i><span>案件追蹤管理系統功能</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="A01" style="display:none"><a href="@Url.Content("~")"><i class="fa fa-caret-right"></i>市政總質詢事項</a></li>
                            <li id="A02" style="display:none"><a href="@Url.Content("~/MCAsk/Maintain1")"><i class="fa fa-caret-right"></i>議會案件</a></li>
                            <li id="A03" style="display:none"><a href="@Url.Content("~/ExpectedProject/Maintain0")"><i class="fa fa-caret-right"></i>預計發包案件</a></li>
                            <li id="A04" style="display:none"><a href="@Url.Content("~/ProjectControll/Maintain0")"><i class="fa fa-caret-right"></i>工程列管</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a id="G" href="#" style="display:none">
                            @*<a href="#">*@
                            <i class="fa fa-edit"></i><span>系統管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="G01" style="display:none"><a href="@Url.Content("~/Accounts/Maintain")"><i class="fa fa-caret-right"></i>帳號管理</a></li>
                            <li id="G02" style="display:none"><a href="@Url.Content("~/SystemPermission/SystemPermission")"><i class="fa fa-caret-right"></i>角色權限管理</a></li>
                            <li id="G03" style="display:none"><a href="@Url.Content("~/MinuteLog/Maintain")"><i class="fa fa-caret-right"></i>操作紀錄查詢</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content container-fluid">
                @Html.AntiForgeryToken()
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>

    </div>


</body>

</html>
<script>
    $('#exit').on('click', function () {
        if (confirm("您正在離開營業單位營運資訊管理系統。\n按下確定後登出。")) {
            $.ajax({
                type: 'POST',
                data: '{}',
                async: false,
                url: '@Url.Action("Logout", "Common")',
                contenType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    document.location.replace('@Url.Action("login", "Home")');
    document.location.replace('@Url.Action("login", "Home")');
                    return;
                }
            })
        }
    });
    $('#modifyPW').on('click', function () {
        document.location.replace('@Url.Action("ChangePW", "Home")');
    });
</script>