@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    @if (TempData["loginMsg"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["loginMsg"]));
            alert(message);
        </script>
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
    <title>新北市政府水利局案件追蹤管理系統 | 登入</title>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-box-body">
            <p class="login-box-msg"><b>新北市政府水利局案件追蹤管理系統</b></p>

            <form action="login" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    <input id="txtAccount" type="text" name="txtAccount" class="form-control" placeholder="帳號" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input id="txtAlienSecurity" type="password" name="txtAlienSecurity" class="form-control" placeholder="密碼">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <table id="RoleList">
                            
                        </table>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button id="login_btna" class="btn btn-primary btn-block btn-flat">登 入</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
<script>
    $('#login_btn').on('click', function () {

        $.ajax({
            type: 'POST',
            data: {},
            //async: false, //啟用同步請求
            url: '@Url.Action("TEST", "Home")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                alert("成功");

            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
    });
    $('#login_btn2').on('click', function () {

        if ($('#txtAccount').val() == '' || $('#txtAlienSecurity').val() == '') {
            alert('請輸入帳號和密碼');
            return;
        }

        var AccountLogin = {
            id: $('#txtAccount').val(),
            alienSecurity: $('#txtAlienSecurity').val()
        };
        //document.location.replace('@Url.Action("TEST", "Home")');
        $.ajax({
            type: 'POST',
            data: '{}',
            //async: false, //啟用同步請求
            url: '@Url.Action("TEST2", "Home")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                alert("成功");

            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
    });
</script>
