@model WaterCaseTracking.Models.ViewModels.JobReminder.SearchItemViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $().ready(function () {
        @*var _ActionCode = '@TempData["ActionCode"]';
        var _ActionName = '@TempData["ActionName"]';
        $('#txt_ActionCode').val(_ActionCode);
        $('#txt_ActionName').val(_ActionName);
        $('#ActionName').val(_ActionName);*@
    })
</script>
@using (Html.BeginForm()) {
<section class="content-header">
    <h1>
        工作提醒(月執行)
    </h1>
</section>
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.ActionName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.ActionName)
        </div>
        <input id="txt_ActionCode" name="ActionCode" type="hidden" value="@Html.DisplayFor(model => model.ActionCode)" />
        <input id="txt_ActionName" name="ActionName" type="hidden" value="@Html.DisplayFor(model => model.ActionName)" />
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.WorkStart, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.WorkStart, new { type = "number", min = "1", max = "28" })
            @*@Html.EditorFor(model => model.WorkStart, new { htmlAttributes = new { @class = "form-control"} })*@
            @Html.ValidationMessageFor(model => model.WorkStart, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WorkEnd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.WorkEnd, new { type = "number", min = "1", max = "28" })
            @*@Html.EditorFor(model => model.WorkEnd, new { htmlAttributes = new { @class = "form-control"} })*@
            @Html.ValidationMessageFor(model => model.WorkEnd, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WorkName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WorkName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WorkName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="存檔" class="btn btn-primary" />
            @Html.ActionLink("返回", "Maintain", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

}