
@{
    ViewBag.Title = "FileManager";
}
<link rel="stylesheet" href="~/Content/dist/default/style.min.css" />
<script type="text/javascript" src="~/Scripts/jstree.js"></script>

<section class="content-header">
    <h1>
        檔案管理
    </h1>
</section>

<section class="content">
    <div>
        檔案排序(遞增或遞減)
        <input type="radio" id="byName" value="Name" checked="checked" name="gSort" onclick="chkSort();" />檔案名稱
        <input type="radio" id="byTime" value="Time" name="gSort" onclick="chkSort();" />檔案修改時間
        <input type="radio" id="bySize" value="Size" name="gSort" onclick="chkSort();" />檔案大小
        <input type="hidden" id="IsDescending" value="false" />
        <input type="hidden" id="lastgSort" value="Name" />
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div id="jstree_FM">
                    </div>
                    <div id="fliePath">
                        <div class="content code" style="display:none;"><textarea id="code" readonly="readonly"></textarea></div>
                        <div class="content folder" style="display:none;"></div>
                        <div class="content image" style="display:none; position:relative;"><img src="" alt="" style="display:block; position:absolute; left:50%; top:50%; padding:0; max-height:90%; max-width:90%;" /></div>
                        <span>所在路徑：</span><div class="content default" style="text-align:left;"></div>

                    </div>

                    <div id="up_progress"></div>
                    <div id="imgDIV"></div>
                </div>
                <!-- /.box-body -->
            </div>


        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <input type="hidden" id="dropPath" />
</section>
<script>

    var gSortClickCount = 0;
    function chkSort() {
        //MARK 資料夾先不排序
        //if ($('#fliePath .default').text().split('/').length < 2) {
        //    alert("請先選擇資料夾來排序!");
        //    return;
        //}
        gSortClickCount = $("[name='gSort']:checked").val() == $("#lastgSort").val() ? gSortClickCount + 1 : 0;
        if (gSortClickCount == 0) $("#lastgSort").val($("[name='gSort']:checked").val())
        var chkDescending = gSortClickCount % 2 == 0 ? "false" : "true";//連點  遞增減，DEFAULT第一次為false 不遞減

        $("#IsDescending").val(chkDescending);
        $('#jstree_FM').jstree(true).refresh();
    }
    $('#jstree_FM').jstree({
        'core': {
            'data': {
                "url": '@Url.Action("GetFileManagerDirectoryInfo", "FileManager")',
                "dataType": "json",// needed only if you do not supply JSON headers
                "data": function (node) {
                    return {
                        UserType: '@Session["Groups"]', SortKey: $("[name='gSort']:checked").val(),
                        IsDescending: $("#IsDescending").val(), selectedPath: $('#fliePath .default').text()
                            };
                        }
                },
            'force_text': true,
            'check_callback': true,
            "root": true,
            'themes': {
                'responsive': false
            }
        },
        "types": {
            "default": {
                "li_attr": {
                    "ondragover": "dragoverHandler(event)", "ondrop": "dropHandler(event)"
                },
            }
        },
        "contextmenu": {
            'items': function (node) {
                var items = $.jstree.defaults.contextmenu.items();
                items.ccp = false;//edit (cut、copy)
                var _Groups = '@Session["Groups"]';
                if (_Groups=="admin") { return items; }
                else { return null; }
            }
        },
        "plugins": ["unique", "dnd", "state", "types", "contextmenu", "wholerow"]
    })
    .on("hover_node.jstree", function (e, node) {

        $("#dropPath").val(node.instance.get_path(node.node, '/'));
    })
    .on('delete_node.jstree', function (e, node) {

        var strReportUserDefaultFolder = '@System.Configuration.ConfigurationManager.AppSettings["ReportUserDefaultFolder"]';
        strReportUserDefaultFolder = strReportUserDefaultFolder.replace(/\//g, "");
        var newPath = node.instance.get_path(node.node, '/');
        newPath = newPath.replace("/", "");
        newPath = newPath.substring(0, strReportUserDefaultFolder.length);
        var cls = node.node.icon == "jstree-file" ? "F" : "D";
        if (cls == "D" && newPath == strReportUserDefaultFolder) {
            alert("報表目錄不可刪除!");
            $('#jstree_FM').jstree(true).refresh();
            return;
        }
        $.ajax({
            type: 'POST',
            //async: false, //啟用同步請求
            url: '@Url.Action("Delete_FileDir", "FileManager")',
            data: { deletePath: node.instance.get_path(node.node, '/'), fileOrDir: cls },
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.success == true) {
                    alert(result.responseText);
                    $('#fliePath .default').text(result.responseText).show();
                    return;
                }
                else {
                    $('#jstree_FM').jstree(true).refresh();
                    alert(result.responseText);
                    return;
                }
            },
            fail: function () {
                $('#jstree_FM').jstree(true).refresh();
                alert('刪除失敗!!');
                return;
            }
        }).fail(function () {
            $('#jstree_FM').jstree(true).refresh();
        });
    })
	.on('create_node.jstree', function (e, node) {
	})
	.on('rename_node.jstree', function (e, node) {
	    if (node.text == "") {
	        alert("資料夾名稱不可為空!");
	        return;
	    }
	    var strReportUserDefaultFolder = '@System.Configuration.ConfigurationManager.AppSettings["ReportUserDefaultFolder"]';
	    strReportUserDefaultFolder = strReportUserDefaultFolder.replace(/\//g, "");
	    var newPath = node.instance.get_path(node.node, '/');
	    var cls = node.node.icon == "jstree-file" ? "F" : "D";
	    if (cls == "D" && node.old == "root" && newPath.split("/").length == 1) {
	        alert("根目錄不可修改!");
	        $('#jstree_FM').jstree(true).refresh();
	        return;
	    }
	    newPath = newPath.replace("/", "");

	    newPath = newPath.substring(0, strReportUserDefaultFolder.length);
	    if (cls == "D" && newPath == strReportUserDefaultFolder) {
	        alert("報表預設路逕，不可修改");
	        $('#jstree_FM').jstree(true).refresh();
	        return;
	    }

	    $.ajax({
	        type: 'POST',
	        //async: false, //啟用同步請求
	        url: '@Url.Action("ReName_FileDir", "FileManager")',
	        data: { newPath: node.instance.get_path(node.node, '/'), oldText: node.old, newText: node.text, fileOrDir: cls },
	        contenType: "application/json; charset=utf-8",
	        dataType: "json",
	        success: function (result) {
	            if (result.success == true) {
	                alert("修改成功!");
	                $('#fliePath .default').text(result.responseText).show();
	                return;
	            }
	            else {
	                $('#jstree_FM').jstree(true).refresh();
	                alert(result.responseText);
	                return;
	            }
	        },
	        fail: function () {
	            $('#jstree_FM').jstree(true).refresh();
	            alert('重新命名失敗!!');
	            return;
	        }
	    }).fail(function () {
	        $('#jstree_FM').jstree(true).refresh();
	        // data.instance.refresh();
	    });
	    return;
	})
	.on('move_node.jstree', function (e, node) {

	    var OldParentID = node.old_parent;

	    var OldParentNode = $('#jstree_FM').jstree(true).get_node(OldParentID);

	    var cls = node.node.icon == "jstree-file" ? "F" : "D";

	    $.ajax({
	        type: 'POST',
	        async: false, //啟用同步請求
	        url: '@Url.Action("Move_FileDir", "FileManager")',
	        data: { newPath: $("#dropPath").val(), origParentPath: node.instance.get_path(OldParentNode, '/'), dragTarget: node.node.text, fileOrDir: cls },
	        contenType: "application/json; charset=utf-8",
	        dataType: "json",
	        success: function (result) {
	            if (result.success == true) {
	                alert(result.responseText);
	                return;
	            }
	            else {
	                $('#jstree_FM').jstree(true).refresh();
	                alert(result.responseText);
	                return;
	            }
	        },
	        fail: function () {
	            $('#jstree_FM').jstree(true).refresh();
	            alert('移動失敗!!');
	            return;
	        }
	    }).fail(function () {
	        $('#jstree_FM').jstree(true).refresh();
	    });
	})
        //@*
	.on('copy_node.jstree', function (e, data) {
		$.get('?operation=copy_node', { 'id': data.original.id, 'parent': data.parent, 'position': data.position })
			.always(function () {
				data.instance.refresh();
			});
	})
            *@
	.on('changed.jstree', function (e, data) {
	    if (data && data.selected && data.selected.length) {

	        $('#fliePath .default').text(data.instance.get_path(data.node, '/')).show();
	    }
	    else {
	        $('#fliePath .content').hide();
	        $('#fliePath .default').text('請選擇檔案或資料夾').show();
	    }
	})

    .on("activate_node.jstree", function (e, data) {
        var evt = window.event || event;
        var button = evt.which || evt.button;//1左鍵;3右鍵


        if (button == 1) {
            if (data.node.a_attr.href != "" && data.node.a_attr.href != "#")
            { downloadURI(data.node.a_attr.href, data.node.text); }
        }
    });

    $('#jstree_FM').on("hover_node.jstree",
        function (e, data) {
            //var nodeId = jQuery.data(data.rslt.obj[0], "jstree").id;
        });

    function dragoverHandler(evt) {
        evt.preventDefault();
        evt.stopPropagation();//只有實際註冊處理程序的元素才會處理事件
        var overNodeID = evt.currentTarget.id;

        var myNode = $('#jstree_FM').jstree(true).get_node(overNodeID);
        $("#dropPath").val($('#jstree_FM').jstree(true).get_path(myNode, '/'));//when over node ,get node path

    }
    function dropHandler(evt) {//evt 為 DragEvent 物件

        evt.preventDefault();
        evt.stopPropagation();//只有實際註冊處理程序的元素才會處理事件

        var files = evt.dataTransfer.files;//由DataTransfer物件的files屬性取得檔案物件
        var formdata = new FormData();
        var filesLength = 0;

        for (var j = 0; j < files.length; j++) {
            {
                filesLength += files[j].size;
            }
            if ((filesLength / 1024 / 1024) > 10) {
                alert("檔案超過10MB限制!");
                return;
            }
            for (var i in files) {
                ////將圖片在頁面預覽
                //var fr = new FileReader();
                //fr.onload = openfile;
                //fr.readAsDataURL(files[i]);

                //新增上傳檔案，上傳後名稱為 ff 的陣列
                formdata.append('ff[' + i + ']', files[i]);
                filesLength + files[i].size;
            }
            formdata.append('UploadPath', $("#dropPath").val());//use node path
            var up_progress = document.getElementById('up_progress');

            $.ajax({

                type: 'POST',
                //async: false, //啟用同步請求
                url: '@Url.Action("UpLoadFile", "FileManager")',
                contentType: false,         // 告诉jQuery不要去這置Content-Type
                processData: false,         // 告诉jQuery不要去處理發送的數據
                dataType: "json",
                data: formdata,
                success: function (result) {
                    //up_progress.innerHTML = result.responseText;
                    $('#jstree_FM').jstree(true).refresh();
                    alert(result.responseText);
                },
                fail: function (result) {
                    alert(result.responseText);
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    alert(msg);
                },
            })
        }
    }
    function openfile(evt) {
        var img = evt.target.result;
        var imgx = document.createElement('img');
        imgx.style.margin = "10px";
        imgx.src = img;
        document.getElementById('imgDIV').appendChild(imgx);
    }

    //function createNode() {
    //    $("#jstree_FM").jstree('create_node', '#', { 'id': '1944', 'text': 'create' }, 'last');
    //}
    function downloadURI(uri, name) {
        if (navigator.msSaveBlob) {
            uri = uri.split('FileManagerUploads')[1].replace(/\//g, '\\');
            window.location = '@Url.Action("DownloadFile", "FileManager")' + '?downLoadPath=' + uri + '&fileName=' + name;

        }
        else {
            var link = document.createElement("a");
            link.download = name;
            link.href = uri;
            link.click();
        }
    }
</script>
