
@{
    ViewBag.Title = "ChartTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<script>
    var oTable;
    //初始設定
    $(function () {
        //初始化
        $.ajax({
            type: 'POST',
            data: '{}',
            //async: false, //啟用同步請求
            url: '@Url.Action("searchInit", "ChartTable")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }
                //地區
                //$('#ddlArea').html(ddlAreaHtml);
                //區域下拉選單
                var ddlAreaHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlArea.DropDownListLT, function (i, ddl) {
                    ddlAreaHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlArea').html(ddlAreaHtml);
                //考核組別下拉選單
                var ddlAssessmentGroupHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlAssessmentGroup.DropDownListLT, function (i, ddl) {
                    ddlAssessmentGroupHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlAssessmentGroup').html(ddlAssessmentGroupHtml);
                //區域中心
                var ddlAreacenterNameHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlAreacenterName.DropDownListLT, function (i, ddl) {
                    ddlAreacenterNameHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlAreacenterName').html(ddlAreacenterNameHtml);
                //副總轄管區
                var ddlGen_JurisNameHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlGen_JurisName.DropDownListLT, function (i, ddl) {
                    ddlGen_JurisNameHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlGen_JurisName').html(ddlGen_JurisNameHtml);
                //分行下拉選單
               var ddlUntilHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlUntilHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlUntilHtml);
              
                //起年月
                var ddlYMSHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlSYM.DropDownListLT, function (i, ddl) {
                    ddlYMSHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlYMS').html(ddlYMSHtml);
                //迄年月
                var ddlYMEHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlEYM.DropDownListLT, function (i, ddl) {
                    ddlYMEHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlYME').html(ddlYMEHtml);

            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
        //載入Table
        //oTableSetting();
    });




</script>
<section class="content-header">
    <h1>
        	趨勢圖表

    </h1>

</section>

<section class="content">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="row vertical-align">
                    <div class="col-xs-auto">年月:</div>
                    <div class="col-xs-4">
                        <select name="ddlYMS" id="ddlYMS" class="form-control"></select>
                    </div>
                    <div class="col-xs-auto">至年月:</div>
                    <div class="col-xs-4">
                        <select name="ddlYME" id="ddlYME" class="form-control"></select>
                    </div>
                </div>
                <div class="row vertical-align">
                    <div class="col-xs-auto">地區別:</div>
                    <div class="col-xs-2">
                        <select name="ddlArea" id="ddlArea" class="form-control"></select>
                    </div>
                    <div class="col-xs-auto">分行:</div>
                    <div class="col-xs-3">
                        <select name="ddlUntil" id="ddlUntil" class="form-control"></select>
                    </div>

                  
                </div>


                <div class="row vertical-align">
                    <div class="col-xs-auto">
                        類別
                    </div>
                    <div class="col-xs-2">
                        <select name="ddlClass" id="ddlClass" onchange="click();" class="form-control">
                            <option value=''>請選擇</option>
                            <option value='admin_card'>月平均</option>
                            <option value='admin_card_count'>累計平均</option>
                        </select>
                    </div>    <div class="col-xs-auto">群組</div>
                    <div class="col-xs-3">
                        <select name="ddlGrpup" id="ddlGrpup" onchange="click();" class="form-control"></select>
                    </div>

                
                        <div class="col-xs-auto">項目:</div>
                        <div class="col-lg-4">
                            <select name="ddlFileColumns" id="ddlFileColumns" class="form-control"></select>
                        </div>
                </div>

                <!-- /.box-body -->
            </div>
                <div class="row vertical-align">

                    <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="Export();">匯出查詢結果</button></div>

                </div>
            </div>
            </div>
            <!-- /.col -->
        
    
    <!-- /.row -->
</section>

<script>
   
    $('#ddlClass').on('click', function () {

        var ExportViewModel = {

            tablename: $('#ddlClass').val(),


        };
        $.ajax({
            type: 'POST',
            data: ExportViewModel,
            //async: false, //啟用同步請求
            url: '@Url.Action("ClassClick", "ChartTable")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }

                //群組下拉選單
                var ddlGrpup_NoHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlGroup.DropDownListLT, function (i, ddl) {
                    ddlGrpup_NoHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlGrpup').html(ddlGrpup_NoHtml);
                //項目下拉選單
                var ddlFileColumns_NoHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlFileColumns.DropDownListLT, function (i, ddl) {
                    ddlFileColumns_NoHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlFileColumns').html(ddlFileColumns_NoHtml);
            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
    });
    $('#ddlGrpup').on('click', function () {

        var ExportViewModel = {

            FileColumns: $('#ddlGrpup').val(),


        };
        $.ajax({
            type: 'POST',
            data: ExportViewModel,
            //async: false, //啟用同步請求
            url: '@Url.Action("GroupClick", "ChartTable")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }

                //項目下拉選單
                var ddlFileColumns_NoHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlFileColumns.DropDownListLT, function (i, ddl) {
                    ddlFileColumns_NoHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlFileColumns').html(ddlFileColumns_NoHtml);
            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
    });
    


    //匯出
    function Export() {
        if ($('#ddlYMS').val() == "" || $('#ddlYMS').val() == null) {
            alert("起年月不可空值");
            return;
        }
        if ($('#ddlYME').val() == "" || $('#ddlYME').val() == null) {
            alert("迄年月不可空值");
            return;
        }
        if ($('#ddlUntil').val() == "" || $('#ddlUntil').val() == null) {
            alert("分行不可空值");
            return;
        }
        if ($('#ddlYMS').val() > $('#ddlYME').val()) {
            alert("起年月不可大於迄年月");
            return;
        }
        if ($('#ddlFileColumns').val() == null || $('#ddlFileColumns').val()=="") {
            alert("須選擇項目");
            return;
        }
        //判斷是否有查詢
        var ExportViewModel = {

            ddlUntil: $('#ddlUntil').val(),
            FileColumns: $('#ddlFileColumns').val(), 
            ddlSYM: $('#ddlYMS').val(),
            ddlEYM: $('#ddlYME').val(),

        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("Export", "ChartTable")',
            data: ExportViewModel,
            contenType: "application/json; charset=utf-8",
        })
        .done(function (result) {
            window.open(result, null);
        })
        .fail(function () {
            alert("匯入失敗");
        })
    };
    $('#ddlArea').on('change', function () {

     var ExportViewModel = {

            Area: $('#ddlArea').val(),


        };
        $.ajax({
            type: 'POST',
            data: ExportViewModel,
            //async: false, //啟用同步請求
            url: '@Url.Action("AreaClick", "ChartTable")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }

                //分行下拉選單
                var ddlBranch_NoHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlBranch_NoHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlBranch_NoHtml);


            }, fail: function () {
                alert('匯入失敗!!');
            }
        })

    });
    @*$('#ddlAssessmentGroup').on('click', function () {

     var ExportViewModel = {

         Ass_GroupName: $('#ddlAssessmentGroup').val(),


        };
        $.ajax({
            type: 'POST',
            data: ExportViewModel,
            //async: false, //啟用同步請求
            url: '@Url.Action("AssessmentGroupClick", "OperationalOverview")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }

                //分行下拉選單
                var ddlBranch_NoHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlBranch_NoHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlBranch_NoHtml);


            }, fail: function () {
                alert('匯入失敗!!');
            }
        })

    });
    $('#ddlAreacenterName').on('click', function () {

     var ExportViewModel = {

         AreacenterName: $('#ddlAreacenterName').val(),


        };
        $.ajax({
            type: 'POST',
            data: ExportViewModel,
            //async: false, //啟用同步請求
            url: '@Url.Action("AreacenterNameClick", "OperationalOverview")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }

                //分行下拉選單
                var ddlBranch_NoHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlBranch_NoHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlBranch_NoHtml);


            }, fail: function () {
                alert('匯入失敗!!');
            }
        })

    });
    $('#ddlGen_JurisName').on('click', function () {

     var ExportViewModel = {

         Gen_JurisName: $('#ddlGen_JurisName').val(),


        };
        $.ajax({
            type: 'POST',
            data: ExportViewModel,
            //async: false, //啟用同步請求
            url: '@Url.Action("lGen_JurisNameClick", "OperationalOverview")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }

                //分行下拉選單
                var ddlBranch_NoHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlBranch_NoHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlBranch_NoHtml);


            }, fail: function () {
                alert('匯入失敗!!');
            }
        })

    });*@
</script>