
@{
    ViewBag.Title = "Maintain";
}
<script>
    var oTable;
    //初始設定
    $(function () {
        //初始化
        $.ajax({
            type: 'POST',
            data: '{}',
            //async: false, //啟用同步請求
            url: '@Url.Action("searchInit", "BusinessUT")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }
                //區域下拉選單
                var ddlAreaHtml = "<option value=''>全部</option>";
                $.each(result.ddlArea.DropDownListLT, function (i, ddl) {
                    ddlAreaHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlArea').html(ddlAreaHtml);
                //分行下拉選單
                var ddlUntilHtml = "<option value=''>全部</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlUntilHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlUntilHtml);
                //考核組別下拉選單
                var ddlAssessmentGroupHtml = "<option value=''>全部</option>";
                $.each(result.ddlAssessmentGroup.DropDownListLT, function (i, ddl) {
                    ddlAssessmentGroupHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlAssessmentGroup').html(ddlAssessmentGroupHtml);
                //區域中心
                var ddlAreacenterNameHtml = "<option value=''>全部</option>";
                $.each(result.ddlAreacenterName.DropDownListLT, function (i, ddl) {
                    ddlAreacenterNameHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlAreacenterName').html(ddlAreacenterNameHtml);
                //副總轄管區
                var ddlGen_JurisNameHtml = "<option value=''>全部</option>";
                $.each(result.ddlGen_JurisName.DropDownListLT, function (i, ddl) {
                    ddlGen_JurisNameHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlGen_JurisName').html(ddlGen_JurisNameHtml);
                //行舍
                var ddlDormNameHtml = "<option value=''>全部</option>";
                $.each(result.ddlDormName.DropDownListLT, function (i, ddl) {
                    ddlDormNameHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlDormName').html(ddlDormNameHtml);

            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
        //載入Table
        //oTableSetting();
    });

    //查詢
    function QueryTable() {
        //判斷有無設定過
        if (oTable)
        { oTable.destroy(); }
        $('#tbResult').empty();
        oTableSetting();
        //重新查詢
        oTable.ajax.reload(null, false);
    }

    //重置查詢條件
    function Reset() {
        //$('#files').val('');
        //$('#ddlArea').val('');
        //$('#ddlUntil').val('');
        //$('#ddlAssessmentGroup').val('');
        //$('#ddlAreacenterName').val('');
        //$('#ddlGen_JurisName').val('');
        //$('#ddlDormName').val('');

        //改為重新整理
        location.reload();
    }

    //新增或修改
    function DoAction(ActionName, Branch_No) {
        if (ActionName == 'Modify')
            document.location.replace('@Url.Action("Edit", "BusinessUT")' + '?Branch_No=' + Branch_No);
        if (ActionName == 'Create')
            document.location.replace('@Url.Action("Create", "BusinessUT")');
        if (ActionName == 'Delete') {
            if (confirm('確認刪除'))
                document.location.replace('@Url.Action("Delete", "BusinessUT")' + '?Branch_No=' + Branch_No);
        }
    }

    //上傳檔案
    function UpLoad() {
        //## 宣告一個FormData
        var data = new FormData();
        //## 將檔案append FormData
        var files = $("#files").get(0).files;
        if (files.length > 0) {
            data.append("UploadedFile", files[0]);
        }
        else {
            alert('請選擇匯入檔案');
            return;
        }

        //## 透過ajax方式Post 至Action
        var ajaxRequest = $.ajax({
            type: "POST",
            url: "@Url.Action("Upload", "BusinessUT")",
            contentType: false,         // 告诉jQuery不要去這置Content-Type
            processData: false,         // 告诉jQuery不要去處理發送的數據
            dataType: "json",
            data: data
        })
    .done(function (result) {
        alert(result);
        document.location.replace('@Url.Action("Maintain", "BusinessUT")');
    })
    .fail(function () {
        alert("匯入失敗");
    });
    }

    //測試
    function Export() {
        document.location.replace('@Url.Action("Export", "BusinessUT")' + '?fileExtension=' + $('#ddlFileExtension').val());
    }

    function ChangeDdlUntil() {
        $.ajax({
            type: 'POST',
            data: {Area :  $('#ddlArea').val() },
            //async: false, //啟用同步請求
            url: '@Url.Action("GetddlUntil", "BusinessUT")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }
                //分行下拉選單
                var ddlUntilHtml = "<option value=''>全部</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlUntilHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlUntilHtml);

            }, fail: function () {
                alert('系統錯誤');
            }
        })
    }

    //查詢Table設定
    function oTableSetting() {


        $('#Maintain').addClass('active');
        $('#Maintain').closest('ul').closest('li').addClass('active');


        var TableOptions = {
            "destroy": true,
            "oLanguage": {
                "sUrl": "../Content/datatables.net/tw.txt"
            },
            "bLengthChange": true,
            "lengthMenu": [10, 25, 50, 75, 100],
            "ordering": true,
            "searching": false,
            "iDisplayLength": 10,
            "bStateSave": false,
            "bPaginate": true,
            "scrollY": ($(window).height() - 290),
            "scrollX": true,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "GetoTable",
            "deferLoading": 0,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "ddlArea", "value": $('#ddlArea').val() });
                aoData.push({ "name": "ddlUntil", "value": $('#ddlUntil').val() });
                aoData.push({ "name": "ddlAssessmentGroup", "value": $('#ddlAssessmentGroup').val() });
                aoData.push({ "name": "ddlAreacenterName", "value": $('#ddlAreacenterName').val() });
                aoData.push({ "name": "ddlGen_JurisName", "value": $('#ddlGen_JurisName').val() });
                aoData.push({ "name": "ddlDormName", "value": $('#ddlDormName').val() });
            },
            "columns": [
                { "title": "分行代碼", "data": "Branch_No" },
                { "title": "分行名稱", "data": "Name" },
                { "title": "成立日期", "data": "Create_Date" },
                { "title": "地區", "data": "AREA" },
                { "title": "郵遞區號", "data": "Zip_Code" },
                { "title": "住址", "data": "Address" },
                { "title": "電話", "data": "Telephone" },
                { "title": "傳真", "data": "Fax" },
                { "title": "行舍情形", "data": "DormName" },
                { "title": "經理", "data": "Manager" },
                { "title": "到職日", "data": "Join_Date" },
                { "title": "副理1", "data": "Vice_Manager_1" },
                { "title": "副理2", "data": "Vice_Manager_2" },
                { "title": "考核組別", "data": "Ass_GroupName" },
                { "title": "區域中心", "data": "AreacenterName" },
                { "title": "副總轄管區", "data": "Gen_JurisName" },
                { "title": "備註", "data": "Remark" },
                {
                    "title": "操作", "orderable": false, render: function (data, type, row) {
                        return '<button type="button" class="btn btn-primary btn-space" onclick="DoAction(\'Modify\',\'' + row.Branch_No + '\');">修改</button>'
                            + '<button type="button" class="btn btn-primary btn-space" onclick="DoAction(\'Delete\',\'' + row.Branch_No + '\');">刪除</button>';
                    }
                }
            ],
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success":
                        function (msg) {
                            fnCallback(msg);

                        }
                });
            }
        }
        oTable = $('#tbResult').DataTable(TableOptions);
    }
</script>
<section class="content-header">
    <h1>
        營業單位資料維護
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row vertical-align">
                        <label id="lblUploadNewFile" for="file">檔案路徑:</label>
                        <input type="file" name="files" id="files" style="display:inline;width:60%;" multiple />
                        <div class="col-xs-auto"><button type="button" class="btn btn-warning" onclick="UpLoad();">匯入資料</button></div>
                        <div class="col-xs-auto"><a class="btn btn-primary btn-space" href="~/DataFile/匯入營業單位格式.xlsx">下載匯入營業單位格式</a></div>
                    </div>
                    <div class="row vertical-align">
                        <div class="col-xs-auto">地區別:</div>
                        <div class="col-xs-2">
                            <select name="ddlArea" id="ddlArea" onchange="ChangeDdlUntil();" class="form-control"></select>
                        </div>
                        <div class="col-xs-auto">分行:</div>
                        <div class="col-xs-2">
                            <select name="ddlUntil" id="ddlUntil" class="form-control"></select>
                        </div>
                        
                    </div>
                    <div class="row vertical-align">
                        <div class="col-xs-auto">區域中心:</div>
                        <div class="col-xs-2">
                            <select name="ddlAreacenterName" id="ddlAreacenterName" class="form-control"></select>
                        </div>
                        <div class="col-xs-auto">副總轄管區:</div>
                        <div class="col-xs-2">
                            <select name="ddlGen_JurisName" id="ddlGen_JurisName" class="form-control"></select>
                        </div>
                        <div class="col-xs-auto">行舍:</div>
                        <div class="col-xs-2">
                            <select name="ddlDormName" id="ddlDormName" class="form-control"></select>
                        </div>
                        <div class="col-xs-auto">考核組別:</div>
                        <div class="col-xs-2">
                            <select name="ddlAssessmentGroup" id="ddlAssessmentGroup" class="form-control"></select>
                        </div>
                    </div>
                    <div class="row vertical-align">
                        <div class="col-xs-auto "><button type="button" class="btn btn-primary btn-space" onclick="QueryTable();">查 詢</button></div>
                        <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="Reset();">重置</button></div>
                        <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="DoAction('Create', null);">新增營業單位</button></div>
                        @*<div class="col-xs-auto"><a href="/BusinessUT/Export?fileExtension="  class="btn btn-primary btn-space">匯出查詢結果</a></div>*@
                        @*<div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="Export();">匯出查詢結果</button></div>
                            <div class="col-xs-auto">檔案類型:</div>
                            <div class="col-xs-auto">
                                <select name="ddlFileExtension" id="ddlFileExtension" class="form-control">
                                    <option value="xlsx">xlsx</option>
                                    <option value="docx">docx</option>
                                    <option value="ods">ods</option>
                                    <option value="odt">odt</option>
                                </select>
                            </div>*@
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tbResult" class="table table-bordered table-hover">
                        <thead>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

