
@{
    ViewBag.Title = "Maintain";
}
<script>
    var oTable;
    //初始設定
    $(function () {
        //初始化
        $.ajax({
            type: 'POST',
            data: '{}',
            //async: false, //啟用同步請求
            url: '@Url.Action("searchInit", "Accounts")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }
                //角色
                var ddlRoleHtml = "<option value=''>全部</option>";
                $.each(result.ddlRole.DropDownListLT, function (i, ddl) {
                    if ('@(Session["roleName"] as string)' == 'maintain') {
                        if (ddl.Text == '一般使用者')
                            ddlRoleHtml = '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                    }
                    else {
                        ddlRoleHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                    }
                });
                $('#ddlRole').html(ddlRoleHtml);

            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
        //載入Table
        //oTableSetting();
    });

    //查詢
    function QueryTable() {
        //判斷有無設定過
        if (oTable)
        { oTable.destroy(); }
        $('#tbResult').empty();
        oTableSetting();
        //重新查詢
        oTable.ajax.reload(null, false);
    }

    //重置查詢條件
    function Reset() {
        $('#txtSecurityMena').val('');
        $('#ddlRole').val('');
    }

    //新增或修改
    function DoAction(ActionName, idx, IsEnable) {
        var confirmTxt = '';
        if (IsEnable) {
            confirmTxt = '確定啟用該帳號?'
        }
        else {
            confirmTxt = '確定停用該帳號?'
        }
        if (ActionName == 'Modify')
            $.ajax({
                type: 'POST',
                data: { 'idx': idx },
                //async: false, //啟用同步請求
                url: '@Url.Action("Edit", "Accounts")',
                contenType: "application/json; charset=utf-8",
                dataType: "json"
            })
        if (ActionName == 'Create')
            document.location.replace('@Url.Action("Create", "Accounts")');
        if (ActionName == 'pwToDefault')
            if (confirm('確定重設回預設密碼?')) {
                $.ajax({
                    type: 'POST',
                    data: { 'idx': idx },
                    async: false, //啟用同步請求
                    url: '@Url.Action("pwToDefault", "Accounts")',
                    contenType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        alert('密碼重設成功');
                    }, fail: function () {
                        alert('密碼重設成功');
                    }
                })
            }
        if (ActionName == 'Delete') {
            if (confirm(confirmTxt)) {
                $.ajax({
                    type: 'POST',
                    data: { 'idx': idx },
                    async: false, //啟用同步請求
                    url: '@Url.Action("Delete", "Accounts")',
                    contenType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (IsEnable) {
                            $('#btnEnable' + idx).removeClass("btn-danger").addClass("btn-success");
                            $('#btnEnable' + idx).text('啟用該帳號');
                            $('#btnEnable' + idx).attr('onclick', "DoAction('Delete','" + idx + "',false);");
                            alert('停用成功');
                        }
                        else {
                            $('#btnEnable' + idx).removeClass("btn-success").addClass("btn-danger");
                            $('#btnEnable' + idx).text('停用該帳號');
                            $('#btnEnable' + idx).attr('onclick', "DoAction('Delete','" + idx + "',true);");
                            alert('啟用成功');
                        }


                    }, fail: function () {
                        alert('啟用/停用失敗!!');
                    }
                })
            }
        }
    }

    function Export() {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Export", "Accounts")',
            data: { fileExtension: $('#ddlFileExtension').val() },
            contenType: "application/json; charset=utf-8",
        })
    .done(function (result) {
        var a = document.createElement('a');
        a.setAttribute('href', result);
        a.setAttribute('target', '_self');
        a.setAttribute('download', result);
        a.style.display = 'none';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);

        //window.open(result, null);
    })
    .fail(function () {
        alert("匯入失敗");
    })
    }

    //查詢Table設定
    function oTableSetting() {


        $('#Maintain').addClass('active');
        $('#Maintain').closest('ul').closest('li').addClass('active');


        var TableOptions = {
            "destroy": true,
            "oLanguage": {
                "sUrl": "../Content/datatables.net/tw.txt"
            },
            "bLengthChange": true,
            "lengthMenu": [10, 25, 50, 75, 100],
            "ordering": true,
            "searching": false,
            "iDisplayLength": 10,
            "bStateSave": false,
            "bPaginate": true,
            "scrollY": 600,
            "scrollX": true,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "GetoTable",
            "deferLoading": 0,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "txtSecurityMena", "value": $('#txtSecurityMena').val() });
                aoData.push({ "name": "ddlRole", "value": $('#ddlRole').val() });
            },
            "columns": [
                { "title": "帳號", "data": "AccountID" },
                { "title": "姓名", "data": "SecurityMena" },
                { "title": "角色", "data": "RoleName" },
                { "title": "科室", "data": "Organizer" },
                { "title": "新增人員", "data": "CreateUserName" },
                { "title": "新增時間", "data": "CreateDate" },
                { "title": "修改人員", "data": "UpdateUserName" },
                { "title": "修改時間", "data": "UpdateDate" },
                {
                    "title": "操作", "width": 360, "orderable": false, render: function (data, type, row) {
                        var button = '<form action="/Accounts/Edit" method="post"><input type="submit" value="修改帳號資訊" class="btn btn-primary btn-flat"><input name="idx" type="hidden" value="' + row.AccountID + '"/>';
                        if (row.IsEnable) {
                            button += '　<button type="button" id="btnEnable' + row.AccountID + '" class="btn btn-primary btn-danger" onclick="DoAction(\'Delete\',\'' + row.AccountID + '\',' + row.IsEnable + ');">停用該帳號</button>';
                        }
                        else {
                            button += '　<button type="button" id="btnEnable' + row.AccountID + '" class="btn btn-primary btn-success" onclick="DoAction(\'Delete\',\'' + row.AccountID + '\',' + row.IsEnable + ');">啟用該帳號</button>'
                        }
                        button += '　<button type="button" class="btn btn-primary btn-flat" onclick="DoAction(\'pwToDefault\',\'' + row.AccountID + '\',null);">重設回預設密碼</button>';
                        //button += '<form action="/Accounts/pwToDefault" method="post"><input type="submit" value="重設回預設密碼" onclick="return confirm("確定重設回預設密碼?")" class="btn btn-primary btn-flat"><input name="idx" type="hidden" value="' + row.AccountID + '">';
                        button += '</form>';
                        return button;
                    }
                }
            ],
            "columnDefs": [
                {
                    "targets": "_all", //针对所有列
                    "render": $.fn.dataTable.render.text(), //都使用render函数编码
                }
            ],
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success":
                        function (msg) {
                            fnCallback(msg);

                        }
                });
            }
        }
        oTable = $('#tbResult').DataTable(TableOptions);
    }
</script>
<section class="content-header">
    <h1>
        帳號管理
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @if ((Session["roleName"] as string) != "supervisor")
                    {
                        <div class="row vertical-align">
                            <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="Export();">匯出使用者</button></div>
                            <div class="col-xs-auto">檔案類型:</div>
                            <div class="col-xs-auto">
                                <select name="ddlFileExtension" id="ddlFileExtension" class="form-control">
                                    <option value="xlsx">xlsx</option>
                                    <option value="ODF">ODF</option>
                                </select>
                            </div>
                        </div>
                    }
                    <div class="row vertical-align">
                        <div class="col-xs-auto">姓名:</div>
                        <div class="col-xs-2">
                            <input type="text" id="txtSecurityMena" />
                        </div>
                        <div class="col-xs-auto">角色:</div>
                        <div class="col-xs-2">
                            <select name="ddlRole" id="ddlRole" class="form-control"></select>
                        </div>

                    </div>
                    <div class="row vertical-align">
                        <div class="col-xs-auto "><button type="button" class="btn btn-primary btn-space" onclick="QueryTable();">查 詢</button></div>
                        <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="Reset();">重置</button></div>
                        <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="DoAction('Create', null,null);">新增帳號</button></div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tbResult" class="table table-bordered table-hover">
                        <thead>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

