
@{
    ViewBag.Title = "OperationalOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $.ajax({
            type: 'POST',
            data: '{}',
            //async: false, //啟用同步請求
            url: '@Url.Action("searchInit", "OperationalOverview")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }

                //年度
                var ddlYeartHtml = "";
                $.each(result.ddlYeart.DropDownListLT, function (i, ddl) {
                    ddlYeartHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlYeart').html(ddlYeartHtml);

                //月份
                var ddlYeartHtml = "";
                for (var i = 1; i < 13; i++) {
                    ddlYeartHtml += '<option value="' + i + '">' + i + '</option>';
                }
                $('#ddlMonth').html(ddlYeartHtml);

                ////區域下拉選單
                //var ddlAreaHtml = "<option value=''>全部</option>";
                //$.each(result.ddlArea.DropDownListLT, function (i, ddl) {
                //    ddlAreaHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                //});
                //$('#ddlArea').html(ddlAreaHtml);
                //區域下拉選單
                var ddlAreaHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlArea.DropDownListLT, function (i, ddl) {
                    ddlAreaHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlArea').html(ddlAreaHtml);
                //分行下拉選單
                var ddlUntilHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlUntilHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlUntilHtml);
                //考核組別下拉選單
                var ddlAssessmentGroupHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlAssessmentGroup.DropDownListLT, function (i, ddl) {
                    ddlAssessmentGroupHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlAssessmentGroup').html(ddlAssessmentGroupHtml);
                //區域中心
                var ddlAreacenterNameHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlAreacenterName.DropDownListLT, function (i, ddl) {
                    ddlAreacenterNameHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlAreacenterName').html(ddlAreacenterNameHtml);
                //副總轄管區
                var ddlGen_JurisNameHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlGen_JurisName.DropDownListLT, function (i, ddl) {
                    ddlGen_JurisNameHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlGen_JurisName').html(ddlGen_JurisNameHtml);
            }, fail: function () {
                alert('系統錯誤!!');
            }
        })

        $('#QueryPage').empty();
    });
</script>

<section class="content-header">
    <h1>
        營運概況表(個別分行)

    </h1>

</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                    @*<div class="col-xs-auto">地區別:</div>
        <div class="col-xs-2">
            <select name="ddlArea" id="ddlArea" class="form-control"></select>
        </div>*@
                    @*<div class="col-xs-auto">分行:</div>
        <div class="col-xs-2">
            <select name="ddlUntil" id="ddlUntil" class="form-control"></select>
        </div>*@
                    <div class="row  vertical-align">
                        <div class="col-xs-auto">年度:</div>
                        <div class="col-xs-2">
                            <select name="ddlYeart" id="ddlYeart" class="form-control"></select>
                        </div>
                        <div class="col-xs-auto">月份:</div>
                        <div class="col-xs-2">
                            <select name="ddlMonth" id="ddlMonth" class="form-control"></select>
                        </div>
                    </div>
                    <div class="row vertical-align">
                        <div class="col-xs-auto">地區別:</div>
                        <div class="col-xs-2">
                            <select name="ddlArea" id="ddlArea" onchange="click();" class="form-control"></select>
                        </div>
                        <div class="col-xs-auto">分行:</div>
                        <div class="col-xs-2">
                            <select name="ddlUntil" id="ddlUntil" class="form-control"></select>
                        </div>

                       
                    </div>

                    <div class="col-xs-2 vertical-align">
                        <div class="col-xs-auto">
                            <button name="btnQuery" id="btnQuery" type="button" class="btn btn-primary">查詢</button>
                        </div>
                        <div class="col-xs-auto">
                            <button type="button" class="btn btn-primary" onclick="printScreen(print_parts);">列印</button>
                        </div>
                    </div>

                    <div id="print_parts">
                        <div id="QueryPage" class="box-body">

                        </div>
                    </div>

                </div>
    </div>
</section>
<script>

    //報表查詢
    $('#btnQuery').on('click', function () {

        $('#QueryPage').empty();
        //if ($('#ddlArea option:selected').val() != "") {
            if ($('#ddlUntil option:selected').val() != "") {
                var data = {
                    Yeart: $('#ddlYeart option:selected').val(),
                    Month: $('#ddlMonth option:selected').val(),
                    Until: $('#ddlUntil option:selected').val(),
                    Area: $('#ddlArea option:selected').val()
                }

                console.log(data);

                $.ajax({
                    type: 'POST',
                    data: data,
                    //async: false, //啟用同步請求
                    url: '@Url.Action("OperatedCardBResult", "OperationalOverview")',
                    contenType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        //console.log(result);
                        $('#QueryPage').append(result);
                    }, fail: function () {
                        alert('系統錯誤!!');
                    }
                })
            } else {
                alert("請選取分行");
            }
        //} else {
        //    alert("請選取地區");
        //}
    });
  
    $('#ddlArea').on('click', function () {
      
     var ExportViewModel = {

            Area: $('#ddlArea').val(),
          

        };
        $.ajax({
            type: 'POST',
            data: ExportViewModel,
            //async: false, //啟用同步請求
            url: '@Url.Action("AreaClick", "OperationalOverview")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }
                
                //分行下拉選單
                var ddlBranch_NoHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlBranch_NoHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlBranch_NoHtml);
               

            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
  
    });
    @*$('#ddlAssessmentGroup').on('click', function () {
      
     var ExportViewModel = {

         Ass_GroupName: $('#ddlAssessmentGroup').val(),
          

        };
        $.ajax({
            type: 'POST',
            data: ExportViewModel,
            //async: false, //啟用同步請求
            url: '@Url.Action("AssessmentGroupClick", "OperationalOverview")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }
                
                //分行下拉選單
                var ddlBranch_NoHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlBranch_NoHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlBranch_NoHtml);
               

            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
  
    });
    $('#ddlAreacenterName').on('click', function () {
      
     var ExportViewModel = {

         AreacenterName: $('#ddlAreacenterName').val(),
          

        };
        $.ajax({
            type: 'POST',
            data: ExportViewModel,
            //async: false, //啟用同步請求
            url: '@Url.Action("AreacenterNameClick", "OperationalOverview")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }
                
                //分行下拉選單
                var ddlBranch_NoHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlBranch_NoHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlBranch_NoHtml);
               

            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
  
    });
    $('#ddlGen_JurisName').on('click', function () {
      
     var ExportViewModel = {

         Gen_JurisName: $('#ddlGen_JurisName').val(),
          

        };
        $.ajax({
            type: 'POST',
            data: ExportViewModel,
            //async: false, //啟用同步請求
            url: '@Url.Action("lGen_JurisNameClick", "OperationalOverview")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }
                
                //分行下拉選單
                var ddlBranch_NoHtml = "<option value=''>請選擇</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlBranch_NoHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlBranch_NoHtml);
               

            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
  
    });*@
    //報表列印
    function printScreen(printlist) {
        var value = printlist.innerHTML;
        var printPage = window.open("", "Printing...", "");
        printPage.document.open();
        printPage.document.write("<HTML><head></head><BODY onload='window.print();window.close()'>");
        printPage.document.write("<PRE>");
        printPage.document.write(value);
        printPage.document.write("</PRE>");
        printPage.document.close("</BODY></HTML>");
    };

</script>