
@{
    ViewBag.Title = "Maintain";
}
<script>
    var oTable;
    //初始設定
    $(function () {
        //初始化
        $.ajax({
            type: 'POST',
            data: '{}',
            //async: false, //啟用同步請求
            url: '@Url.Action("searchInit", "MCAsk")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }
                //地區下拉選單
                var ddlAreaHtml = "";
                $.each(result.ddlArea.DropDownListLT, function (i, ddl) {
                    ddlAreaHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlArea').html(ddlAreaHtml);
                //科室下拉選單
                var ddlOrganizer = "<option value=''>全部</option>";
                $.each(result.ddlOrganizer.DropDownListLT, function (i, ddl) {
                    //判斷資料維護者或使用者就只能有自己科室
                    if ('@(Session["roleName"] as string)' == 'maintain' || '@(Session["roleName"] as string)' == 'user') {
                        if (ddl.Values == '@(Session["Organizer"] as String)')
                            ddlOrganizer = '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                    }
                    else {
                        ddlOrganizer += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                    }
                });
                $('#ddlOrganizer').html(ddlOrganizer);

            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
        //載入Table
        //oTableSetting();
    });

    //查詢
    function QueryTable() {
        //判斷有無設定過
        if (oTable)
        { oTable.destroy(); }
        $('#tbResult').empty();
        oTableSetting();
        //重新查詢
        oTable.ajax.reload(null, false);
        //判斷是否可以新增跟修改
        if ('@(Session["roleName"] as string)' == 'supervisor') {
            oTable.columns([0, 1, 2, 6, 7, 8, 9, 10, 11, 12, 13, 14]).visible(false);
        }
    }

    //重置查詢條件
    function Reset() {
        $('#txtInquiry').val('');
        $('#txtHandlingSituation').val('');
        $('#txtMemberName').val('');
        $('#ddlArea').val('全市');
        $('#ddlOrganizer').val('');
    }

    //上傳檔案
    function UpLoad() {
        //## 宣告一個FormData
        var data = new FormData();
        //## 將檔案append FormData
        var files = $("#files").get(0).files;
        if (files.length > 0) {
            data.append("UploadedFile", files[0]);
        }
        else {
            alert('請選擇匯入檔案');
            return;
        }

        //## 透過ajax方式Post 至Action
        var ajaxRequest = $.ajax({
            type: "POST",
            url: "@Url.Action("Upload1", "MCAsk")",
            contentType: false,         // 告诉jQuery不要去這置Content-Type
            processData: false,         // 告诉jQuery不要去處理發送的數據
        dataType: "json",
        data: data
    })
    .done(function (result) {
        alert(result);
        document.location.replace('@Url.Action("Maintain1", "MCAsk")');
    })
    .fail(function () {
        alert("匯入失敗");
    });
    }

    //匯出範例檔
    //匯出
    function Export() {
        //判斷是否有查詢
        //if (!oTable || oTable.data().count() == 0) {
        //    alert('匯出前請先查出資料');
        //    return;
        //}

        var ExportViewModel = {
            txtInquiry: $('#txtInquiry').val(),
            txtHandlingSituation: $('#txtHandlingSituation').val(),
            txtMemberName: $('#txtMemberName').val(),
            ddlArea: $('#ddlArea').val(),
            ddlOrganizer: $('#ddlOrganizer').val(),
            Types: '1',
            fileExtension: $('#ddlFileExtension').val()
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("Export", "MCAsk")',
            data: ExportViewModel,
            contenType: "application/json; charset=utf-8",
        })
    .done(function (result) {
        var a = document.createElement('a');
        a.setAttribute('href', result);
        a.setAttribute('target', '_self');
        a.setAttribute('download', result);
        a.style.display = 'none';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);

        //window.open(result, null);
    })
    .fail(function () {
        alert("匯入失敗");
    })
    }

    //新增或修改
    function DoAction(ActionName, IDX) {
        if (ActionName == 'Modify')
            document.location.replace('@Url.Action("Edit1", "MCAsk")' + '?ID=' + IDX);
        if (ActionName == 'Create')
            document.location.replace('@Url.Action("Create1", "MCAsk")');
        if (ActionName == 'Delete') {
            if (confirm('確認刪除'))
                document.location.replace('@Url.Action("Delete1", "MCAsk")' + '?ID=' + IDX);
        }
    }



    //查詢Table設定
    function oTableSetting() {


        $('#Maintain').addClass('active');
        $('#Maintain').closest('ul').closest('li').addClass('active');


        var TableOptions = {
            "destroy": true,
            "oLanguage": {
                "sUrl": "../Content/datatables.net/tw.txt"
            },
            "bLengthChange": false,
            "ordering": true,
            "searching": false,
            "iDisplayLength": 10,
            "bStateSave": false,
            "bPaginate": true,
            "scrollY": 600, //($(window).height() - 290),
            "scrollX": true,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "GetoTable",
            "deferLoading": 0,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "txtInquiry", "value": $('#txtInquiry').val() });
                aoData.push({ "name": "txtHandlingSituation", "value": $('#txtHandlingSituation').val() });
                aoData.push({ "name": "txtMemberName", "value": $('#txtMemberName').val() });
                aoData.push({ "name": "ddlArea", "value": $('#ddlArea').val() });
                aoData.push({ "name": "ddlOrganizer", "value": $('#ddlOrganizer').val() });
                aoData.push({ "name": "Types", "value": '1' });
            },
            "columns": [
                { "title": "項次", "data": "ID" },
                { "title": "詢問日期", "data": "AskDate" },
                { "title": "地區", "data": "Area" },
                { "title": "議員姓名", "data": "MemberName", "width": "30px" },
                { "title": "詢問事項", "data": "Inquiry", "width": "30px" },
                { "title": "辦理情形", "data": "HandlingSituation" },
                { "title": "承辦單位", "data": "Organizer" },
                { "title": "承辦人員", "data": "OrganizerMan" },
                { "title": "狀態", "data": "sStatus" },
                { "title": "新增人員", "data": "CreateUserName" },
                { "title": "新增時間", "data": "CreateDate" },
                { "title": "修改人員", "data": "UpdateUserName" },
                { "title": "修改時間", "data": "UpdateDate" },

                {
                    "title": "操作", "orderable": false, render: function (data, type, row) {
                        var button = '<button type="button" class="btn btn-primary btn-space" onclick="DoAction(\'Modify\',\'' + row.HID + '\')">修改</button>';
                        if ('@(Session["roleName"] as string)' != "user") {
                            button += '<button name="btnDtl" type="button" class="btn btn-primary btn-space btnDtl" onclick="DoAction(\'Delete\',\'' + row.HID + '\')">刪除</button>';
                        }
                        return button;
                    }
                }
            ],
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success":
                        function (msg) {
                            fnCallback(msg);

                        }
                });
            }
        }
        oTable = $('#tbResult').DataTable(TableOptions);
    }
</script>
<section class="content-header">
    <h1>
        議會案件
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                @if ((Session["roleName"] as string) != "supervisor")
                {
                    <div class="row vertical-align">
                        <label id="lblUploadNewFile" for="file">檔案路徑:</label>
                        <input type="file" name="files" id="files" style="display:inline;width:60%;" multiple />
                        <div class="col-xs-auto"><button type="button" class="btn btn-warning" onclick="UpLoad();">匯入資料</button></div>
                        <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="Export();">匯出範本</button></div>
                        <div class="col-xs-auto">檔案類型:</div>
                        <div class="col-xs-auto">
                            <select name="ddlFileExtension" id="ddlFileExtension" class="form-control">
                                <option value="xlsx">xlsx</option>
                                <option value="ODF">ODF</option>
                            </select>
                        </div>
                    </div>
                }
                    <div class="row vertical-align">
                        <div class="col-xs-auto">詢問事項:</div>
                        <div class="col-xs-3">
                            <input type="text" id="txtInquiry" />
                        </div>
                        <div class="col-xs-auto">辦理情形:</div>
                        <div class="col-xs-3">
                            <input type="text" id="txtHandlingSituation" />
                        </div>
                        <div class="col-xs-auto">議員姓名:</div>
                        <div class="col-xs-3">
                            <input type="text" id="txtMemberName" />
                        </div>
                    </div>
                    @if ((Session["roleName"] as string) != "supervisor")
                    {
                    <div class="row vertical-align">
                        <div class="col-xs-auto">地區:</div>
                        <div class="col-xs-3">
                            <select name="ddlArea" id="ddlArea" class="form-control"></select>
                        </div>
                        <div class="col-xs-auto">承辦單位:</div>
                        <div class="col-xs-3">
                            <select name="ddlOrganizer" id="ddlOrganizer" class="form-control"></select>
                        </div>
                    </div>
                    }
                    <div class="row vertical-align">
                        <div class="col-xs-auto "><button type="button" class="btn btn-primary btn-space" onclick="QueryTable();">查 詢</button></div>
                        <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="Reset();">重置</button></div>
                    @if ((Session["roleName"] as string) != "supervisor" && (Session["roleName"] as string) != "user")
                    {
                        <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="DoAction('Create', null);">新增</button></div>
                    }

                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tbResult" class="table table-bordered table-hover">
                        <thead>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

